<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omar Harvey-Phillips</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="menu">&#9776;</li>
          <div class="dropdown">
            <li class="me">Omar Harvey-Phillips - <span id="myself">O</span></li>
            <li><a href="#about">About</a></li>
            <li><a href="#tech">Tech</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div id="home">
        </div>
        <div id="about">
          <h3>ABOUT</h3>
          <div class="bio">
            <p>I remember when I was six my dad getting excited about showing me dial up on Netscape Navigator and his enthusiasm is something that rubbed off onto me for life.</p>

            <p>After studying Sociology at Warwick University I progressed onto becoming a Team Leader at St Thomas’ Hospital in their Specimen Reception. I worked there for 6 years gaining many important and transferable skills, but I was keen to move into an industry that I loved.</p>

            <p> I attended the Immersive Web Development Course at General Assembly which instilled me with a renewed vigor for both development and for life in general. I hugely enjoy pushing myself to the limits of my capabilities and am looking for a work environment where I can continue to learn and be challenged on a daily basis.</p>
          </div>
          <div id="contact">
            <h3>GET IN TOUCH / SEE THE CODE </h3>
            <ul>
              <li><a href="https://github.com/omaotzu" target="_blank"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" class="icon"></a></li>
              <li><a href="https://www.linkedin.com/in/omarhphillips/" target="_blank"><img src="../icons/linkedinlogo.png" class="icon"></a></li>
              <li><a href="mailto:omarhphillips@gmail.com"><img src="../icons/gmail_logo.png" class="icon"></a></li>
              <li><a href="../documents/CV.pdf" target="_blank"><img src="https://lh6.ggpht.com/Grj2s2q5M5kpJvtcVhBO5IpqKatrsvdXbNkEjJKn5AcR_xAN_ZyUFkWF2dSQ7uVytH8=w300" class="icon"></a></li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <div id="middleImage">
        </div>
        <div id="tech">
          <h3>SKILLS</h3>
          <table>
            <tr>
              <td>HTML5 <br> <img src="../icons/html5-plain-wordmark.png" class="icon"></td>
              <td>CSS3 <br> <img src="../icons/CSS3.png" class="icon"></td>
              <td>SCSS <br> <img src="../icons/sass-original.png" class="icon"></td>
              <td>JavaScript <br> <img src="../icons/javascript-plain.png" class="icon"></td>
            </tr>
            <tr>
              <td>jQuery <br> <img src="../icons/jquery-plain-wordmark.png" class="icon"></td>
              <td>AngularJS <br> <img src="../icons/angularjs-original.png" class="icon"></td>
              <td>Ruby <br> <img src="../icons/ruby-plain-wordmark.png" class="icon"></td>
              <td>Ruby on Rails <br> <img src="../icons/rails-original-wordmark.png" class="icon"></td>
            </tr>
            <tr>
              <td>MongoDB <br> <img src="../icons/mongodb-plain-wordmark.png" class="icon"></td>
              <td>Node.js <br> <img src="../icons/nodejs-plain-wordmark.png" class="icon"></td>
              <td>PostgreSQl <br> <img src="../icons/postgresql-plain-wordmark.png" class="icon"></td>
              <td>Git <br> <img src="../icons/git-original.png" class="icon"></td>
            </tr>
            <tr>
              <td>Bootstrap <br> <img src="../icons/bootstrap-plain-wordmark.png" class="icon"></td>
              <td>Trello <br> <img src="../icons/trello-plain-wordmark.png" class="icon"></td>
              <td>AWS <br> <img src="../icons/amazonwebservices-plain-wordmark.png" class="icon"></td>
              <td>Bower <br> <img src="../icons/bower-original.png" class="icon"></td>
            </tr>
            <tr>
              <td>Mocha <br> <img src="../icons/mocha.png" class="icon"></td>
              <td>Jasmine <br> <img src="../icons/jasmine.png" class="icon"></td>
              <td>Chai <br> <img src="../icons/chai.png" class="icon"></td>
              <td>Karma <br> <img src="../icons/karma.png" class="icon"></td>
            </tr>
          </table>
          <div class="upcoming">
            <h3>UPCOMING</h3>
              <table>
                <tr>
                  <th>Languages/Frameworks:</th>
                  <th>Projects:</th>
                </tr>
                <tr>
                  <td>React <br> <img src="../icons/react-original-wordmark.png" class="icon"></td>
                  <td>Art Portfolio</td>
                </tr>
                <tr>
                  <td>Python <br> <img src="../icons/python-original.png" class="icon"></td>
                  <td>Contstruction Machinery Sales Website</td>
                </tr>
              </table>
          </div>
        </div>
      </section>

      <section>
        <div id="endImage">
        </div>
        <div id="projects">
          <h3>PROJECTS</h3>
          <div class="title1">
            <h4>Name That Tune!</h4>
          </div>
          <div class="content1">
            <h4 class="close">X</h4>
            <h5>Name That Tune!</h5>
            <h5>jQuery, JavaScript, CSS, HTML</h5>
            <p>A frontend app built using game logic, data manipulation and time related score following the pattern of a music themed ‘itbox’.</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid caroImage" src="../images/project1/Name_That_Tune_img1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project1/Name_That_Tune_img2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project1/Name_That_Tune_img3.png" alt="Third slide">
                </div>
              </div>
            </div>
            <div class="buttons">
              <a href="https://cryptic-hamlet-93856.herokuapp.com/" target="_blank"><button>See the website</button></a>
              <a href="https://github.com/omaotzu/Project-1" target="_blank"><button>See the code</button></a>
            </div>
          </div>

          <div class="title2">
            <h4>FishBook</h4>
          </div>
          <div class="content2">
            <h4 class="close">X</h4>
            <h5>FishBook</h5>
            <h5>JavaScript, jQuery, SCSS, HTML, Express.js, Node.js, MongoDB, Mongoose, Bcrypt, AJAX, JSON, AWS, Google Maps API, Wunderground Weather API, Bootstrap, Gulp</h5>
            <p>I created a fully authenticated RESTful LAMP stack app where users could contribute and review fishing spots in the United Kingdom. Using Google Maps API and Wunderground Weather API to provide travel directions and weather in the local area for each location.</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid caroImage" src="../images/project2/FishBook_img1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project2/FishBook_img2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project2/FishBook_img3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project2/FishBook_img4.png" alt="Fourth slide">
                </div>
              </div>
            </div>
            <div class="buttons">
              <a href="https://enigmatic-meadow-18873.herokuapp.com" target="_blank"><button>See the website</button></a>
              <a href="https://github.com/omaotzu/WDI25-Project-2" target="_blank"><button>See the code</button></a>
            </div>
          </div>

          <div class="title3">
            <h4>pNcApp</h4>
          </div>
          <div class="content3">
            <h4 class="close">X</h4>
            <h5>pNcApp</h5>
            <h5>JavaScript, SCSS, HTML, Express.js, AngularJS, Node.js, MongoDB, Mongoose, Bcrypt, AJAX, JSON, AWS, Zoopla API, Google Maps API, Police Crime API, Bootstrap, Gulp</h5>
            <p>In a group of 3 we created a fully authenticated RESTful MEAN stack app where users could create groups, search for and add properties to their shared portfolio and comment and review as they went and visited each property.</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid caroImage" src="../images/project3/pncapp_img1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project3/pncapp_img2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project3/pncapp_img3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project3/pncapp_img4.png" alt="Fourth slide">
                </div>
              </div>
            </div>
            <div class="buttons">
              <a href="https://pncapp.herokuapp.com" target="_blank"><button>See the website</button></a>
              <a href="https://github.com/omaotzu/project-3" target="_blank"><button>See the code</button></a>
            </div>
          </div>

          <div class="title4">
            <h4>MyGuideBlog</h4>
          </div>
          <div class="content4">
            <h4 class="close">X</h4>
            <h5>JavaScript, ES6, SCSS, HTML, AJAX, JSON, Ruby, Ruby on Rails, AngularJS,
            Google Maps API, Skyscanner API, Bootstrap, Gulp, Moment.js</h5>
            <p>In a team of two we built a fully authenticated travel blogging platform designed to allow users to actively contribute to the community by uploading multiple blog posts from each destination they visited. These contained a rating system split into four categories which aimed to feedback useful summaries of locations to other users and also could be up or downvoted by the community. I focused on map functionality, user authentication, integration with Amazon Web Services and on the back end model relationships.</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid caroImage" src="../images/project4/MyGuideBlog_img1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project4/MyGuideBlog_img2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project4/MyGuideBlog_img3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid caroImage" src="../images/project4/MyGuideBlog_img4.png" alt="Fourth slide">
                </div>
              </div>
            </div>
            <div class="buttons">
              <a href="https://secure-plateau-23163.herokuapp.com/" target="_blank"><button>See the website</button></a>
              <a href="https://github.com/omaotzu/project-4-frontend" target="_blank"><button>See the front end code</button></a>
              <a href="https://github.com/omaotzu/project-4-api" target="_blank"><button>See the back end code</button></a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
