<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omar Harvey-Phillips</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#home" class="me">Omar Harvey-Phillips</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="home">
      </div>
      <section>
        <div id="about">
          <h3><span>About: </span> Welcome to my portfolio - please bare with me while I get this up to scratch</h3>
          <img src="https://maxcdn.icons8.com/Share/icon/Business//maintenance1600.png" class="maintenance">
          <h3>Site under maintenance</h3>
        </div>
      </section>
      <div id="middleImage">
      </div>

      <section>
      <div id="projects">
        <h1>PROJECTS</h1>
        <div class="project1">
          <h3>MODULE 1</h3>
          <h4>Name That Tune!</h4>
          <h5>jQuery, JavaScript, CSS, HTML</h5>
          <p>A frontend app built using game logic, data manipulation and time related score following the pattern of a music themed ‘itbox’.</p>
        </div>
        <div class="project2">
          <h3>MODULE 2</h3>
          <h4>FishBook</h4>
          <h5>jQuery, JavaScript, ES6, SCSS, HTML, Bcrypt, AJAX, JSON, Express.js, Node.js, Mongoose, Google Maps API, Wunderground Weather API, Mongo, Bootstrap, Gulp.</h5>
          <p>I created a fully authenticated RESTful LAMP stack app where users could contribute and review fishing spots in the United Kingdom. Using Google Maps API and Wunderground Weather API to provide travel directions and weather in the local area for each location.</p>
        </div>
        <div class="project3">
          <h3>MODULE 3</h3>
          <h4>pNcApp</h4>
          <h5>JavaScript, ES6, SCSS, HTML, Bcrypt, AJAX, JSON, Mongo, Express.js, AngularJS, Node.js, Mongoose, Zoopla API, Google Maps API, Police Crime API, Bootstrap, Gulp</h5>
          <p>In a group of 3 we created a fully authenticated RESTful MEAN stack app where users could create groups, search for and add properties to their shared portfolio and comment and review as they went and visited each property.</p>
        </div>
        <div class="project4">
          <h3>MODULE 4</h3>
          <h4>MyGuideBlog</h4>
          <h5>JavaScript, ES6, SCSS, HTML, AJAX, JSON, Ruby, Ruby on Rails, AngularJS,
          Google Maps API, Skyscanner API, Bootstrap, Gulp, Moment.js</h5>
          <p>In a team of two we built a fully authenticated travel blogging platform designed to allow users to actively contribute to the community by uploading multiple blog posts from each destination they visited. These contained a rating system split into four categories which aimed to feedback useful summaries of locations to other users and also could be up or downvoted by the community. I focused on map functionality, user authentication, integration with Amazon Web Services and on the back end model relationships.</p>
        </div>
      </div>
      </section>

      <div id="endImage">
      </div>

      <section>
        <div id="contact">
          <ul>
            <li><a href="https://github.com/omaotzu" target="_blank"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" class="icon"></a></li>
            <li><a href="https://www.linkedin.com/in/omarhphillips/" target="_blank"><img src="http://collectiveenlightenment.com/wp-content/uploads/2016/04/linkedin-logo-copy.png" class="icon"></a></li>
            <li><a href="mailto:omarhphillips@gmail.com"><img src="http://sabradesign.me/wp-content/uploads/2013/05/Gmail-Logo-400x400.png" class="icon"></a></li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
