$maroon: #871F02;
$gold: #D9D1BE;

body{
  width: 100%;
  background-color: black;
  color: $gold;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  // overflow: hidden;
}

.me{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

span{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 75px;
  background-color: $gold;
  nav{
    ul{
      list-style: none;
      float: left;
      li{
        font-size: 34px;
        display: inline;
        margin-right: 60px;
        a{
          text-decoration: none;
          color: $maroon;
          &:hover, :active{
            text-decoration: underline;
            color: black;
          }
        }
        &:first-child{
          margin-left: 30px;
          padding: 0 10px;
        }
        &.menu {
        color: $maroon;
        cursor: pointer;
        display: none;
        font-size: 20px;
        }
      }
    }
  }
}

section {
  height: 995px;
  max-height: 995px;
}


#home {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  float: left;
}

#middleImage{
  @extend #home;
  float: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
}
#endImage{
  @extend #home;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg')
}

#about{
  width: 50%;
  max-height: 995px;
  float: right;
  h3{
    text-align: center;
    font-size: 28px;
    margin-top: 90px;

  }
  .bio{
    padding: 0 40px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 24px;
    p{
      text-align: justify;
    }
  }
  #contact{
    ul{
      padding-top: 10px;
      list-style: none;
      li{
        display: inline;
        margin-right: 100px;
        &:nth-child(2){
          padding-left: 2px;
        }
        &:hover{
          box-shadow: 0 0 5pt 5pt $gold;
        }
      }
    }
  }
}



#tech{
  padding-top: 40px;
  width: 50%;
  float: right;
  h3{
    font-size: 28px;
    text-align: center;
    margin: 0 15px;
  }
  font-size: 24px;
  ul{
    text-align: left;
    list-style: none;
  }
}

#projects{
  padding-top: 10px;
  height: 900px;
  width: 50%;
  float: right;
  margin-bottom: 100px;
  h3{
    font-size: 28px;
    margin: 30px 0;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    transform: translate(7%, 0%);
  }
}

.title1, .title2, .title3, .title4{
  width: 80%;
  height: 200px;
  background-size: cover;
  float: right;
  margin-right: 40px;
  margin-bottom: 20px;
  border: 1px solid $gold;
  h4{
    color: lighten($maroon, 10%);
    margin: 0;
    background-color: rgba(250, 250, 250, 0.9);
  }
  &:hover{
    cursor: pointer;
  }
}
.title1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/project1/Name_That_Tune_img1.png');
}
.title2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/project2/FishBook_img1.png');
}
.title3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/project3/pncapp_img1.png');
}
.content1, .content2, .content3, .content4{
  z-index: 2;
  background-color: $gold;
  color: $maroon;
  text-align: left;
  position: absolute;
  left: 0;
  width: 45%;
  display: none;
  margin-left: 30px;
  height: 850px;
  h5{
    margin-top: 20px;
    padding: 25px;
    font-weight: bold;
  }
  p{
    margin-top: 20px;
    padding: 25px;
  }
  h4{
    text-align: right;
    margin-right: 20px;
    &:hover{
      cursor: pointer;
    }
  }
}

.caroImage{
  width: 450px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.icon {
  height: 50px;
  width: 50px;
}
table{
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}

.upcoming{
  padding-top: 100px;
  table{
    padding-top: 20px;
    text-align: center;
    tr{
      th{
        text-align: center;
      }
      td{
        img{
          margin: 0 auto;
        }
      }
    }
  }
}
.buttons{
  text-align: center;
  margin-top: 5px;
  a{
    button{
      margin-right: 10px;
      border: 2px solid $maroon;
      border-radius: 15px;
      padding: 5px;
      background-color: $gold;
      color: $maroon;
      &:hover{
        cursor: pointer;
        border: 2px solid $gold;
        background-color: $maroon;
        color: $gold;
      }

    }
  }
}

@media only screen and (max-width: 800px) {

  header {
    min-height: 50px;
    height: auto;
    nav {
      ul {
        li {
          font-size: 18px;
          margin-bottom: 5px;
          display: block;
          float: none;
          text-align: left;
          &.menu {
            display: block;
          }
          &:first-child{
            margin: 0;
            padding: 0;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
  #home {
    width: 100%;
    height: 50%;
    float: none;
    display: block;
  }
  #middleImage{
    float: none;
    height: 50%;
    display: block;
  }
  #about{
    padding-top: 20px;
    width: 100%;
    height: 50%;
    float: none;
    display: block;
    h3{
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    p{
      font-size: 12px;
    }
    .bio{
      padding: 10px 10px 0 10px;
      width: 80%;
      text-align: left;
      margin: 0 auto;
      p{
        text-align: justify;
      }
    }
    #contact{
      ul{
        li{
          margin-right: 20px;
        }
      }
    }
  }
  #tech{
    padding-top: 20px;
    h3{
      font-size: 18px;

    }
    width: 100%;
    height: 50%;
    display: block;
    table{
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      font-size: 12px;
    }

  }

  .upcoming{
    padding-top: 20px;
    table{
      padding-top: 20px;
      text-align: center;
      tr{
        td{
          img{
            margin: 0 auto;
          }
        }
      }
    }
  }

  #projects{
    width: 100%;
    height: 50%;
    display: block;
    h3{
      font-size: 18px;
      position: relative;
      transform: translate(0%, 0%);
    }
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .title1, .title2, .title3, .title4{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    h4 {
      font-size: 18px;
    }
  }

  .content1, .content2, .content3, .content4{
    z-index: 2;
    margin: 0;
    background-color: $gold;
    color: $maroon;
    text-align: left;
    width: 100%;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    h5{
      margin-top: 10px;
      padding: 25px;
    }
    p{
      margin-top: 20px;
      padding: 25px;
      font-size: 12px;
    }
  }

  .content3, .content4{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
  }

  .caroImage{
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}
