$maroon: #871F02;
$gold: #D9D1BE;

body{
  width: 100%;
  background-color: black;
  color: $gold;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  // overflow: hidden;
}

.me{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

span{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 75px;
  background-color: $gold;
  nav{
    ul{
      list-style: none;
      float: left;
      li{
        font-size: 34px;
        display: inline;
        margin-right: 60px;
        a{
          text-decoration: none;
          color: $maroon;
        }
        &:first-child{
          margin-left: 30px;
          padding: 0 10px;
        }
      }
    }
  }
}

section {
  height: 995px;
  max-height: 995px;
}


#home {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  float: left;
}

#middleImage{
  @extend #home;
  float: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
}
#endImage{
  @extend #home;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg')
}

#about{
  width: 50%;
  float: right;
  h3{
    text-align: center;
    font-size: 28px;
    margin-top: 90px;

  }
  .bio{
    padding: 40px 40px 0 40px;
    width: 80%;
    text-align: left;
    margin: 0;
    font-size: 24px;
    p{
      text-align: justify;
    }
  }
}

#contact{
  h3 {
    font-size: 28px;
  }
  ul{
    list-style: none;
    li{
      display: inline;
      margin-right: 100px;
      &:nth-child(2){
        padding-left: 2px;
      }
      &:hover{
        box-shadow: 0 0 5pt 5pt $gold;
      }
    }
  }
}

#tech{
  padding: 40px;
  width: 50%;
  h3{
    font-size: 28px;
    text-align: center;
    margin: 0 15px;
  }
  font-size: 24px;
  ul{
    text-align: left;
    list-style: none;
  }
}

#projects{
  padding-top: 10px;
  height: 900px;
  width: 50%;
  float: right;
  margin-bottom: 200px;
  h3{
    font-size: 28px;
    margin: 30px 15px;
    letter-spacing: 5px;
    text-align: center;
  }
}

.title1, .title2, .title3, .title4{
  width: 80%;
  height: 180px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
  background-size: cover;
  float: right;
  margin-right: 40px;
  margin-bottom: 10px;
  h4{
    color: lighten($maroon, 10%);
    margin: 0;
  }
  &:hover{
    cursor: pointer;
  }
}

.content1, .content2, .content3, .content4{
  z-index: 2;
  background-color: $gold;
  color: $maroon;
  text-align: left;
  position: absolute;
  left: 0;
  width: 45%;
  display: none;
  margin-left: 30px;
  height: 760px;
  h5{
    margin-top: 100px;
    padding: 25px;
  }
  p{
    margin-top: 100px;
    padding: 25px;
  }
}

.icon {
  height: 50px;
  width: 50px;
}
table{
  padding: 100px;
  margin: 0 auto;
  text-align: center;
}
