$maroon: #871F02;
$gold: #D9D1BE;

body{
  background-color: black;
  color: $gold;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.maintenance{
  width: 500px;
  height: 500px;
}
.me{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

span{
  font-family: 'Anton', sans-serif;
  color: $maroon;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 75px;
  background-color: $gold;
  nav{
    ul{
      list-style: none;
      float: left;
      li{
        font-size: 34px;
        display: inline;
        margin-right: 60px;
        a{
          text-decoration: none;
          color: $maroon;
        }
        &:first-child{
          margin-left: 30px;
          padding: 0 10px;
        }
      }
    }
  }
}


#home {
  height: calc(100vh - 75px);
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  float: left;

}
#about{
  height: calc(100vh - 75px);
  width: 50%;
  float: right;
  .bio{
    padding-left: 40px;
    width: 80%;
    text-align: left;
    margin: 0;
    h3{
      text-align: center;
    }
    p{
      text-align: justify;
    }
  }
}

#middleImage{
  @extend #home;
  float: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
}
#endImage{
  @extend #home;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
}

#contact{
  padding-top: 100px;
  ul{
    list-style: none;
    li{
      display: inline;
      margin-right: 100px;
      &:nth-child(2){
        padding-left: 2px;
      }
      &:hover{
        box-shadow: 0 0 5pt 5pt $gold;
      }

    }
  }
}

section {
  min-height: calc(100vh - 75px);
  padding-top: 75px;
}

#tech{
  ul{
    text-align: left;
    list-style: none;
  }
}


.projectImage {
  width: 300px;
  height: 200px;
}

.title1, .title2, .title3, .title4{
  width: 20%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/placeholder.jpg');
  background-size: cover;
  padding-bottom: 10px;
  float: right;
  margin-right: 40px;
  margin-bottom: 100px;
  h4{
    color: lighten($maroon, 10%);
    margin: 0;
  }
  &:hover{
    cursor: pointer;
  }
}

.title3, .title4{
  margin-bottom: 0px;
}

.content1, .content2, .content3, .content4{
  z-index: 2;
  background-color: $gold;
  color: $maroon;
  text-align: left;
  position: absolute;
  left: 0;
  height: calc(100vh - 75px);
  width: 45%;
  display: none;
  margin-left: 30px;
  height: 500px;
  h5{
    margin-top: 100px;
    padding: 25px;
  }
  p{
    margin-top: 100px;
    padding: 25px;
  }
}

.icon {
  height: 50px;
  width: 50px;
}
